QUESTION 1

In [1]:
a = 0
def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

b()
b()
b()
a


#When executing the first function of b(), a = 2 (i.e 0 + 2), 
#the second execution returns a = 4 (i.e 2 + 2), 
#and the last execution returns a = 6 (i.e 4 + 2)

6

QUESTION 2

In [2]:
def fileLength(filename):
    try:
        with open(filename,"r") as f:
            print(len(f.readlines()))
            f.close()
    except FileNotFoundError:
        print(f"File {filename} not found.")  
        
fileLength("Programming.txt")
print()

fileLength("Programing.txt")
print()

62

File Programing.txt not found.

QUESTION 3

In [3]:
#create class
class Marsupial:
    
#using init method
    def __init__(self):
        
#creating list
        self.pouch = []
    
#to collate items to list
    def put_in_pouch(self, item):            
        self.pouch.append(item)
        
#to display/ print content of list
    def pouch_contents(self):                
        return self.pouch

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
#create subclass from class Marsupial
class Kangaroo(Marsupial):
#also using the init method
    def __init__(self, x, y):                                     
        Marsupial.__init__(self)                
        self.x = x                                
        self.y = y
        
# creating a jump method                              
    def jump(self, dx, dy):                         
        self.x+=dx
        self.x+=dy
        
# returning output    
    def __str__(self):                           
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [5]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

QUESTION 4

In [ ]:
# defining collatz function
def collatz(x):                   

    if x != 1:
        
#function for even numbers
        if x%2 == 0:               
            print(int(x))         
            collatz(x/2)       
        
        else:
#function for odd numbers
            print(int(x))         
            collatz(3*x+1)          
  
    else:
        print(int(x));

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

QUESTION 5

In [16]:
# defining binary function
def binary(n):
    
#validating input and returning binary value
    if n > 1:
        binary(n//2)
    print(n % 2, end="")

In [17]:
binary(0)
print()

binary(1)
print()

binary(3)
print()

binary(9)
print()

0
1
11
1001

QUETSION 6

In [18]:
# importing module
from html.parser import HTMLParser

# create class of HeadingParser
class HeadingParser(HTMLParser):
    
#using init method
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head = 0                                                          
        self.intend = ""
        
#defining starttag method
    def handle_starttag(self, tag, attrs):              
        if tag[:-1] == 'h':
            self.head = 'type'
            
#defining data handling method
    def handle_data(self, data):                             
        if self.head == "type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [19]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

QUESTION 8

In [21]:
#importing the module
import sqlite3

#creating connection with the database
conn = sqlite3.connect('database')

#creating cursor object
curr = conn.cursor()

#creating table using SQL command and adding values to the table
curr.execute("CREATE TABLE database_table_ (City text, Country text, Season text, Temperature dec, Rainfall dec)")
curr.execute("INSERT INTO database_table_ VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
curr.execute("INSERT INTO database_table_ VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
curr.execute("INSERT INTO database_table_ VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
curr.execute("INSERT INTO database_table_ VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
curr.execute("INSERT INTO database_table_ VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
curr.execute("INSERT INTO database_table_ VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
curr.execute("INSERT INTO database_table_ VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
curr.execute("INSERT INTO database_table_ VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
curr.execute("INSERT INTO database_table_ VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
curr.execute("INSERT INTO database_table_ VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
curr.execute("INSERT INTO database_table_ VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
curr.execute("INSERT INTO database_table_ VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# committing modifications
conn.commit()

# closing connection
conn.close()

In [22]:
# importing the module
import sqlite3

# creating connection with the database
conn = sqlite3.connect('database')

# creating cursor object
curr = conn.cursor()

# (a) All the temperature data
curr.execute('SELECT Temperature FROM database_table_ ')
for data in curr:
    print(data)
print()

# (b) All the cities but without repetition   
curr.execute('SELECT DISTINCT City FROM database_table_ ')
for data in curr:
    print(data)
print()

# (c) All the records for India
curr.execute('SELECT * FROM database_table_ where Country = "India"')
for data in curr:
    print(data)
print()
    
# (d) All the Fall record
curr.execute('SELECT * FROM database_table_ where Season = "Fall"')
for data in curr:
    print(data)
print()
    
# (e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters   
curr.execute('SELECT City, Country, Season FROM database_table_ where (rainfall > 200) AND (rainfall < 400)')
for data in curr:
    print(data)
print()
    
# (f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
curr.execute('SELECT City, Country FROM database_table_ where (Season = "Fall") AND (temperature > 20) ORDER BY Temperature DESC')
for data in curr:
    print(data)
print()
     
# (g) The total annual rainfall for Cairo  
curr.execute('SELECT SUM(Rainfall) FROM database_table_ where City = "Cairo"')
Annual_rainfall=curr.fetchall()
print(Annual_rainfall)
print()

# (h) The total rainfall for each season
curr.execute('SELECT SUM(Rainfall), Season FROM database_table_ GROUP BY Season')
for data in curr:
    print(data)
print()

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

('Mumbai',)
('London',)
('Cairo',)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

('Mumbai', 'India')
('Cairo', 'Egypt')

[(27.6,)]

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

QUESTION 9

In [23]:
#Creating list (words)
words = ['The', 'quick', 'brown','fox','jumps','over','the','lazy','dog']

In [24]:
# (a) generating all words in uppercase
[w.upper() for w in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [25]:
# (b) generating all words in lowercase
[w.lower() for w in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [26]:
# (c) generating list of length of each word
[len(w) for w in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [27]:
# (d) generating list of upper case, lowercase and length of each word
[[w.upper(), w.lower(), len(w)] for w in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [28]:
# (e) generating list of words with length of 4 or more characters
[w for w in words if len(w) >=4]

['quick', 'brown', 'jumps', 'over', 'lazy']